:root {
  --pri: #282c34;
  --sec: #343a40;
  --ter: #00818A;
  --txt: white;

}

p {
  color: var(--txt);
}

h1,
h2,
h3 {
  color: var(--ter)
}

/***************************************************************/
.center-width {
  width: 85%;
}

.center-container {
  display: flex;
  justify-content: center;
}

.video-card:hover,
.video-card:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--ter);
  transform: translateY(-0.25rem);
  /* transform: translateY(-.5rem); */
}

.video-card-info {
  min-height: 85px;
  padding: 5px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--sec);
  text-align: center;
}

@media screen and (max-width: 980px) {
  .project-info-style {
    display: block;
  }

  .column-style {
    display: flex;
    flex-direction: column;
    /* max-width: 100%; */
    width: 100%;
  }
}

.flair-text {
  /* color: var(--ter) */
  text-decoration: underline;
}